<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="title-2">About</h2>
        </div>
        <div class="col-xs-12 col-md-6">
            <p class="about">
                Bacon ipsum dolor amet hamburger brisket cow leberkas jowl bresaola pork chop ground round alcatra. Rump beef turducken picanha cupim. Short loin ground round prosciutto meatloaf, pancetta turkey rump cupim leberkas ham drumstick venison. Swine jowl meatloaf turkey prosciutto sirloin pork chop salami picanha pastrami.
            </p>
            <p class="about">Andouille drumstick picanha jowl. Ground round bresaola prosciutto strip steak, rump shankle meatball jerky pork chop swine pastrami boudin pork belly pancetta turkey. Ribeye bresaola boudin chicken beef andouille venison ham hock picanha shoulder pastrami beef ribs turducken meatball jowl. Sausage turducken strip steak ground round tail biltong tri-tip prosciutto drumstick flank shankle ball tip.</p>
            <p class="about">Meatball jowl leberkas ham hock brisket chicken ham prosciutto t-bone flank, landjaeger doner sausage. Drumstick bresaola doner, corned beef fatback capicola salami alcatra ham pork belly shankle spare ribs leberkas prosciutto kevin. Turducken hamburger pork belly ground round, porchetta beef pastrami cupim. Meatball pork loin pork sirloin ham pork chop.</p>
            <p class="about">Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>

        </div>
        <div class="col-xs-12 col-md-6">
            <p class="about">
                Bacon ipsum dolor amet hamburger brisket cow leberkas jowl bresaola pork chop ground round alcatra. Rump beef turducken picanha cupim. Short loin ground round prosciutto meatloaf, pancetta turkey rump cupim leberkas ham drumstick venison. Swine jowl meatloaf turkey prosciutto sirloin pork chop salami picanha pastrami.
            </p>
            <p class="about">Andouille drumstick picanha jowl. Ground round bresaola prosciutto strip steak, rump shankle meatball jerky pork chop swine pastrami boudin pork belly pancetta turkey. Ribeye bresaola boudin chicken beef andouille venison ham hock picanha shoulder pastrami beef ribs turducken meatball jowl. Sausage turducken strip steak ground round tail biltong tri-tip prosciutto drumstick flank shankle ball tip.</p>
            <p class="about">Meatball jowl leberkas ham hock brisket chicken ham prosciutto t-bone flank, landjaeger doner sausage. Drumstick bresaola doner, corned beef fatback capicola salami alcatra ham pork belly shankle spare ribs leberkas prosciutto kevin. Turducken hamburger pork belly ground round, porchetta beef pastrami cupim. Meatball pork loin pork sirloin ham pork chop.</p>
            <p class="about">Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>

        </div>

    </div>
</div>
