<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="title-2">My Account</h2>
            <div class="margin-medium"></div>
            <div ui-view></div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="generalAdminInfo">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">General Admin</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                        <div class="pull-right"><button class="btn btn-default edit-btn" data-toggle="modal" data-target="#generalAdmin"><i class="material-icons">mode_edit</i></button></div>
                    </div>
                </div>
            </div>
            <div class="personalDetails">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Personal Details</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                        <div class="pull-right"><button class="btn btn-default edit-btn" data-toggle="modal" data-target="#personalDetails"><i class="material-icons">mode_edit</i></button></div>

                    </div>
                </div>
            </div>
            <div class="notificationPreferences">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Notification Preferences</h3>
                    </div>
                    <div class="panel-body">
                        Panel
                        <div class="pull-right"><button class="btn btn-default edit-btn" data-toggle="modal" data-target="#notificationPreferences"><i class="material-icons">mode_edit</i></button></div>

                    </div>
                </div>
            </div>
            <div class="currencies">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Currencies</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                        <div class="pull-right"><button class="btn btn-default edit-btn" data-toggle="modal" data-target="#currencies"><i class="material-icons">mode_edit</i></button></div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modals-wrap">
        <!-- Modal General Admin -->
        <div class="modal fade" id="generalAdmin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">General Admin</h4>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Personal Details -->
        <div class="modal fade" id="personalDetails" tabindex="-1" role="dialog" aria-labelledby="personalDetailsModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="personalDetailsModal">Personal Details</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Notification Preferences -->
        <div class="modal fade" id="notificationPreferences" tabindex="-1" role="dialog" aria-labelledby="notificationPreferencesModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="notificationPreferencesModal">Notification Preferences</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Currencies -->
        <div class="modal fade" id="currencies" tabindex="-1" role="dialog" aria-labelledby="currenciesModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="currenciesModal">Currencies</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
</div>
