<div class="container-fluid" >
    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-2">
            <!-- filters
          <a href="dials.html">dials</a> -->
             <button id="toggleFilters" class="btn btn-default" ng-click="sideBar = !sideBar">=</button>
            <div class="margin-small"></div>

            <form action="submit" id="searchFilters" class="filters-form clearfix" ng-hide="sideBar">
                <div class="dialsWrap clearfix">
                    <div class="col-xs-12">
                        <label for="priceMin" class="main-label bordered-label">Genre</label>
                        <div class="col-xs-12 col-md-6">
                            <input value="1" id="priceMin" class="dial" data-displayInput=false data-cursor=true />
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div id="viewDialRes">
                                <!--<ul id="genreList" class="list-unstyled disabledList">-->
                                    <!--<li>Action</li>-->
                                    <!--<li>Comedy</li>-->
                                    <!--<li>Drama</li>-->
                                    <!--<li></li>-->

                                <!--</ul>-->
                            </div>
                        </div>

                    </div>
                    <div class="margin-medium"></div>
                    <div class="col-xs-12">
                        <label for="priceMax" class="main-label bordered-label">Production Budget</label>
                        <input id="priceMax" class="dial" value="75" />
                    </div>
                </div>
                    <div class="margin-medium"></div>
                <div class="col-xs-12">

                    <div class="sliderWrap">
                        <label class="main-label">Release Strategy</label>
                        <div id="slider"></div>
                        <span id="sliderVal"></span>
                    </div>
                    <div class="margin-small"></div>

                    <div class="sliderWrap">
                        <label class="main-label">Number of screens opening week </label>
                        <div id="slider2"></div>
                    </div>
                    <div class="margin-medium"></div>
                    <div>
                        <label class="main-label">Franchise</label>
                        <input type="checkbox" name="switch"/>
                    </div>
                    <div>
                        <label class="main-label">Sequel</label>
                        <input type="checkbox" name="switch"/>
                    </div>
                    <div>
                        <label class="main-label">3D / IMAX</label>
                        <input type="checkbox" name="switch"/>
                    </div>

                    <div class="margin-medium"></div>


                </div>
                <div class="dialsWrap dialsWrap-g2 clearfix">
                    <div class="col-xs-12">
                        <label for="priceMin" class="main-label bordered-label">Rating</label>
                        <input id="min" class="dial" value="35" />
                    </div>

                    <div class="col-xs-12">
                        <label for="priceMax" class="main-label bordered-label">Grade / Start Power</label>
                        <input id="max" class="dial" value="75" />
                    </div>
                </div>
                <div class="margin-medium"></div>
                    <div class="dialsWrap dialsWrap-g2 clearfix">
                        <div class="col-xs-12">
                            <label for="priceMin" class="main-label bordered-label">Adaptation</label>
                            <input id="" class="dial" value="35" />
                        </div>

                        <div class="col-xs-12">
                            <label for="priceMax" class="main-label bordered-label">Grade / Start Power</label>
                            <input id="" class="dial" value="75" />
                        </div>
                    </div>
                    <!--  <div class="checkBoxWrap">
                       <label>Checkboxes</label>
                       <input type="checkbox"> Checkbox </br>
                       <input type="checkbox"> Checkbox </br>
                       <input type="checkbox"> Checkbox </br>
                       <input type="checkbox"> Checkbox </br>
                     </div> -->
                    <!--<div class="selectsWrap">-->
                        <!--<label class="main-label" for="">Lorem Ipsum</label>-->
                        <!--<select name="" class="select1">-->
                            <!--<option value="">lorem ipsum</option>-->
                            <!--<option value="">dolor sit</option>-->
                            <!--<option value="">ergo sunt</option>-->
                            <!--<option value="">amor omnia vinict</option>-->
                        <!--</select>-->
                        <!--<div class="margin-small"></div>-->
                        <!--<label class="main-label" for="">Lorem Ipsum</label>-->
                        <!--<select name="" class="select1">-->
                            <!--<option value="">lorem ipsum</option>-->
                            <!--<option value="">dolor sit</option>-->
                            <!--<option value="">ergo sunt</option>-->
                            <!--<option value="">amor omnia vinict</option>-->
                        <!--</select>-->
                        <!--<div class="margin-small"></div>-->
                        <!--<label class="main-label" for="">Lorem Ipsum</label>-->
                        <!--<select name="" class="select1">-->
                            <!--<option value="">lorem ipsum</option>-->
                            <!--<option value="">dolor sit</option>-->
                            <!--<option value="">ergo sunt</option>-->
                            <!--<option value="">amor omnia vinict</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <div class="margin-medium"></div>

                    <!--  <div class="wrapper">
                        <div class="checkbox">
                         <input type="checkbox" id="cb" name="cb" />
                         <label for="cb"></label>
                       </div> <span>Checkbox</span>
                     </div> -->


            </form>

        </div>
        <div id="onFiltersToggleFullScreen" class="col-xs-12 col-md-9 col-lg-10">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#" id="savedSearch" data-toggle="modal" data-target="#savedSearchModal">Saved Search</a></li>
                    <li><a href="#">Prev Search</a></li>
                    <li><a href="#">Global Search</a></li>
                    <li><a href="#">Add Data</a></li>

                </ol>
            </div>
            <div class="col-md-6">
                <div id="priceBox">
                    <div class="price">
                        <p>{{title}}</p>
                        <!--<p>{{description}}</p>-->
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div id="map_wrapper">
                    <div id="map_canvas" class="mapping"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="suggestions-wrap clearfix">
            <div class="col-xs-12">
                <div class="suggestion">
                    <p><a href="">Lorem ipsum dolor sit $320 in Italy!</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="filerBottom">
            <div class="col-xs-12">
                <div class="margin-small"></div>
                <div class="text-center">
                    <button class="btn btn-default" id="toggleBottomMenu" ng-click="bottomMenu = !bottomMenu"><i class="material-icons" ng-hide="bottomMenu">keyboard_arrow_up</i><i class="material-icons" ng-show="bottomMenu">keyboard_arrow_down</i>  </button>
                </div>
                <div class="margin-medium"></div>
            </div>
            <form action="" id="searchFiltersBottomPanel" class="filters-form" ng-hide="bottomMenu">
                <div class="dialsWrap dialsWrap-g2 clearfix">
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <label for="priceMin" class="main-label bordered-label">Theatrical</label>
                        <input class="dial-small" value="35" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <label for="priceMax" class="main-label bordered-label">Non Theatrical</label>
                        <input class="dial-small" value="75" />
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <label for="priceMax" class="main-label bordered-label">Physical Home Entertainment</label>
                        <input class="dial-small" value="55" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <label for="priceMax" class="main-label bordered-label">Transactional Digital</label>
                        <input class="dial-small" value="25" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <label for="priceMax" class="main-label bordered-label">Subscription Digital</label>
                        <input class="dial-small" value="75" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <label for="priceMax" class="main-label bordered-label">Subscription Pay TV</label>
                        <input class="dial-small" value="85" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <label for="priceMax" class="main-label bordered-label">Basic Pay TV </label>
                        <input class="dial-small" value="15" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <label for="priceMax" class="main-label bordered-label">Free TV</label>
                        <input class="dial-small" value="5" />
                    </div>

                </div>

            </form>
            <div class="margin-medium"></div>
            <div class="margin-medium"></div>
        </div>
    </div>

    <div class="modals-wrap">
        <!-- Modal Saved Search-->
        <div class="modal fade" id="savedSearchModal" tabindex="-1" role="dialog" aria-labelledby="savedSearchM">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="savedSearchM">Saved Search</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>

</script>
<script src="map.js"></script>
<script src="main.js"></script>
<script>

</script>
<script>
//    var filters, toggleFilters, onFiltersToggleFullScreen;
//    toggleFilters = $('#toggleFilters');
//    filters = $('#searchFilters');
//    onFiltersToggleFullScreen = $('#onFiltersToggleFullScreen');
//
//    toggleFilters.on('click', onClickToggleFilters);
//
//    function onClickToggleFilters () {
//        filters.toggle('slow');
//    }
</script>