/* Styles go here */



/*.dialsWrap {
	margin-bottom: 16px;
}
.dialsWrap-g2 {
	margin-top: 16px;
}*/
/*.sliderWrap {
	margin-bottom: 18px;
}*/

/*Checkbox*/

/*
See the explanation of the animation here:
http://codepen.io/timseverien/pen/yvJkm
*/
@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}
@-moz-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}
@-ms-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}
/*body {
  background-color: #6aa;
  font-family: 'Lato', sans-serif;
  font-weight: 100%;
}*/
.checkBoxWrap label {
	display: block;
}
.wrapper-1 {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #666;
  left: 28%;
  position: absolute;
  text-align: center;
  top: 142%;
 /*margin: 52px 0 42px 22px;*/
}
.checkbox {
  background-color: #fff;
  border: 2px solid #eee;
  display: inline-block;
  height: 50px;
  margin: 0 0.25em;
  width: 50px;
}
.checkbox label {
  display: block;
  height: 50px;
  position: relative;
  width: 50px;
}
.checkbox label:after {
  /*
  This element has a border on the right, and top. By rotating it looks like a check symbol, but the wrong way. That's why I'm flipping it with scaleX(-1)
  */
  -moz-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  -webkit-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  /*
  I want to position the symbol using the left top, because when increasing the width and height of an object, it expands from the top left corner as well. That is what makes it looks like it's being drawn.
  */
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-right: 4px solid #cee;
  border-top: 4px solid #cee;
  content: '';
  display: block;
  height: 20px;
  left: 14px;
  position: absolute;
  top: 26px;
  width: 10px;
}
.checkbox label:hover:after{
  border-color: #bdd;
}
.checkbox input{
  display: none;
}
.checkbox input:checked + label:after{
  -webkit-animation: check 0.8s;
  -moz-animation: check 0.8s;
  -o-animation: check 0.8s;
  animation: check 0.8s;
  border-color: #666;
}




