//Colors

//main colors

$white: #fff;
$black: #000;
$gray: #666;
$light-gray-white: #eee;
$turquoise: #3FB8AF;
$petrol: #2A363F;
$light-green: #6ED9A0;
$medium-gray: #5B666B;
$light-gray: #9BA7A5;
$light-md-green: #5FB68C;
$green-gray: #6B877F;
$white-1: #F6F8F7;

//Filters Color
$filters-color: $turquoise;

//Text Color
$primary-text: $black;
$secondary-text: $gray;
$other-text: $light-gray;


