.navbar-default {
  height: 82px;
  padding-top: 12px; }
  .navbar-default .navbar-brand {
    font-size: 36px;
    font-weight: 100; }

.edit-btn {
  background: #eee;
  border: none; }
  .edit-btn .material-icons {
    font-size: 16px;
    color: #666; }

#toggleBottomMenu, #toggleFilters {
  background: transparent; }

.title-2 {
  color: #666; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  /*background: #6aa;*/ }

.main-label {
  margin: 16px 0; }

.bordered-label {
  border-bottom: 2px solid rgba(63, 184, 175, 0.13);
  padding: 0 0 4px 0; }

.panel-default > .panel-heading {
  background: #eee; }

#slider {
  height: 300px; }

#slider2 {
  height: 200px; }

.filters-form {
  height: 100%;
  border-right: 2px solid #eee; }
  .filters-form label {
    display: block; }

#map {
  height: 900px; }

#priceBox {
  text-align: center;
  margin-top: 22px;
  background: #eee;
  height: 288px; }

.red {
  background: red;
  color: white; }

.selectsWrap label {
  display: block; }

.select2-container {
  width: 100% !important; }

.price p:first-child {
  color: #3FB8AF;
  font-size: 36px;
  line-height: 244px; }

.suggestions-wrap {
  background: #eee;
  height: 56px;
  text-align: center; }
  .suggestions-wrap .suggestion {
    padding-top: 22px;
    font-size: 16px; }
    .suggestions-wrap .suggestion a {
      color: #3FB8AF; }

#map_wrapper {
  height: 900px; }

#map_canvas {
  width: 100%;
  height: 100%; }

.disabledList {
  color: #eee; }

.focusList {
  color: #666; }

/*margin*/
.margin-small {
  margin-top: 16px; }

.margin-medium {
  margin-bottom: 32px; }

/*# sourceMappingURL=main.css.map */
