@import '../helpers/var';
@import'../helpers/functions';
.edit-btn {
  background: $light-gray-white;
  border: none;
  .material-icons {
    font-size: 16px;
    color: $gray;
  }
}
#toggleBottomMenu {
  background: transparent;
}
#toggleFilters {
  @extend #toggleBottomMenu;
}