@import '../helpers/var';
@import'../helpers/functions';
html,
body {
 height: 100%;
 margin: 0;
 padding: 0;
 font-family: 'Lato', sans-serif;
 /*background: #6aa;*/

}

//labels
.main-label {
  margin: 16px 0;
}
.bordered-label {
  border-bottom: 2px solid rgba(63, 184, 175, 0.13);
  padding: 0 0 4px 0;
}
// Panels

.panel-default>.panel-heading {
  background: $light-gray-white;
}

//Sliders
#slider {
  height: 300px;
}
#slider2 {
  height: 200px;
}
.filters-form {
  height: 100%;
  border-right: 2px solid #eee;
  label {
    display: block;

  }
}

#map {
 height: 900px;
}

#priceBox {
 text-align: center;
 margin-top: 22px;
 background: $light-gray-white;
 height: 288px;
 //border: 2px solid #666;
}

.red {
 background: red;
 color: white;
}

.selectsWrap label {
	display: block;

}
.select2-container {
  width: 100% !important;
}
.price {
 p:first-child {
  color: $turquoise;
  font-size: 36px;
  line-height: 244px;
 }
}
.suggestions-wrap {
  background: $light-gray-white;
  height: 56px;
  text-align: center;
  .suggestion {
    padding-top: 22px;
    font-size: 16px;
    a {
      color: $turquoise;

    }
  }
  
}


//Google Maps

#map_wrapper {
  height: 900px;
}

#map_canvas {
  width: 100%;
  height: 100%;
}

.disabledList {
  color: $light-gray-white;
}
.focusList {
  color: $gray;
}